
/* necessary to give position: relative to parent. */
input[type="text"]{
    font: 15px/24px 'Muli', sans-serif; 
    color: #333;
    width: 100%; 
    box-sizing: border-box; 
    letter-spacing: 1px;
    margin-top: 5px
}

:focus{
    outline: none;
}

.col-3{ position: relative;
    margin-top: 15px
} /* necessary to give position: relative to parent. */

input[type="text"]{
    font: 15px/24px "Lato", Arial, sans-serif; 
    color: #333; 
    width: 100%; 
    box-sizing: border-box; 
    letter-spacing: 1px;
}

.effect-16{
    border: 0; 
    padding: 4px 0; 
    border-bottom: 1px solid #ccc; 
    background-color: transparent;
}

.effect-16 ~ .focus-border{
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 0; 
    height: 2px; 
    background-color: #da552f; 
    transition: 0.4s;
}

.effect-16:focus ~ .focus-border,.has-content.effect-16 ~ .focus-border{
    width: 100%; 
    transition: 0.4s;
}

.effect-16 ~ label{
    position: absolute; 
    left: 0; 
    width: 100%; 
    top: 9px; 
    color: #aaa;
    transition: 0.3s; 
    z-index: -1; 
    letter-spacing: 0.5px;
}

.effect-16:focus ~ label, .has-content.effect-16 ~ label{
    top: -5px; 
    font-size: 12px; 
    color: #da552f; 
    transition: 0.3s;
}

#labelFixed{
    top: -5px; 
    font-size: 12px; 
    color: #da552f; 
    transition: 0.3s;
}